POSTGRES_DB=appdb
POSTGRES_USER=appuser
POSTGRES_PASSWORD=Password123:
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_URL=redis://redis:6379

PRODUCT_SERVICE_URL=http://product-service:3001
ORDER_SERVICE_URL=http://order-service:3002
GATEWAY_PORT=3000
PRODUCT_SERVICE_PORT=3001
ORDER_SERVICE_PORT=3002

REGISTRY_NAMESPACE=docker-hub account-name
GATEWAY_IMAGE_TAG=v1.0.0
PRODUCT_IMAGE_TAG=v1.0.0
ORDER_IMAGE_TAG=v1.0.0
